@import './../../styles/resources/';

.wrapper {
    margin: 8px 0;
    display: flex;
    gap: 1px;

    .item {
      height: 40px;
      width: 100%;
      background: $c-ghost;
      @include default-flex;
      transition: .3s ease;

      &:hover {
        cursor: pointer;
        background: #00000050;
      }
  
      &:first-child {
        border-top-left-radius: $small-border-radius;
        border-bottom-left-radius: $small-border-radius;
      }
  
      &:last-child {
        border-top-right-radius: $small-border-radius;
        border-bottom-right-radius: $small-border-radius;
      }
    }
  }