@import "./../../styles/resources/";

.card {
  width: 23%;
  height: 260px;
  @include green-gradient;
  border-radius: $large-border-radius;
  @include default-flex;
  flex-direction: column;
  @include box-shadow;
  position: relative;
  padding: 16px;

  &:hover {
    cursor: pointer;
    animation: pokemon-card-animation 0.3s ease;
  }

  @include tablet-large {
    width: 45%;
  }

  @include phone {
    width: 100%;
  }

  img {
    width: 140px;
    height: 140px;
  }

  h3 {
    font-size: 24px;
    color: $c-white;
    font-weight: $font-weight;
    text-transform: uppercase;
  }
}

.details {
  position: absolute;
  height: 100%;
  width: 100%;
  color: $c-white;
  @include borwn-gradient;
  border-radius: $large-border-radius;
  @include default-flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;

  ul {
    list-style-type: none;
  }
}

.tag {
  color: $c-white;
  background: $c-black;
  border-radius: $small-border-radius;
  padding: 8px;
}

