@import './../../styles/resources/';

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
    gap: 2px;
    justify-content: center;
}

.type {
    background: $c-ghost;
    height: 40px;
    width: 121px;
    border-radius: $small-border-radius;
    @include default-flex;
    transition: .3s ease;

    @include phone {
        width: 49%;
    }

    &:hover {
        cursor: pointer;
        background: #00000050;
    }
}

.selected_types {
    color: $c-white;
    background: #000;
    border-radius: $small-border-radius;
}

.button {
    margin-top: 8px;
    @include button;
    width: 160px;
}