/* ---- Variables ---- */
/* -- Typography -- */
$main-font-family: "Montserrat", sans-serif;
$font-weight: 400;

/* -- Colors -- */
$c-black: #000;
$c-white: #fff;
$c-grey: #6C6A73;
$c-ghost: #00000030;

/* -- Media Query Breakpoints -- */
$phone: 480px;
$phablet: 576px;
$tablet: 768px;
$tablet-large: 1034px;
$laptop: 1200px;
$desktop: 1400px;

/* ---- Border Radius ---- */
$small-border-radius: 8px;
$border-radius: 16px;
$large-border-radius: 32px;