/* ---- Variables ---- */
/* -- Typography -- */
$main-font-family: "Montserrat", sans-serif;

/* -- Colors -- */
$c-black: #000;

/* -- Media Query Breakpoints -- */
$phone: 480px;
$phablet: 576px;
$tablet: 768px;
$tablet-large: 1034px;
$laptop: 1200px;
$desktop: 1400px;

/* ---- Border Radius ---- */
$border-radius: 16px;